.logo-font{
    font-size: 30px;
    font-weight: bold;
    color: #7f7f7f;
    letter-spacing: 5px;
    padding-left: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.logo-font-color{
    color: rgba(0,255,0,0.6);
}
