.nav-backgroundColor{
	background-color: #eee;
}
body{
	padding-bottom: 25px;
}
a{
	color: black;
}
.logo-font{
	font-size: 40px;
	font-weight: bold;
	color: #7f7f7f;
	letter-spacing: 5px;
	padding-left: 100px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.logo-font-color{
	color: rgba(0,255,0,0.6);
}
.input-group input,.input-group button{
	height: 50px;
}
.sub-form{
	padding-top: 5px;
	padding-left: 10px;
}
.top-distance{
	padding-top: 5.2px;
	padding-bottom: 5.2px;
}
.padleft{
	padding-left: 80px;
}
@media screen and (max-width: 1200px){
	.logo-font{
		padding-left: 0;
	}
}
@media screen and (max-width: 992px) {
	.padleft{
		margin-left: -20px;
		padding-left: 0;
	}
	.logo-font{
		margin-left: -35px;
	}
}
@media screen and (max-width: 783px){
	.padleft{
		padding-left: 25px;
	}
	.logo-font{
		padding-left: 20px;
	}
}
@media screen and (max-width: 460px){
	.padleft{
		padding-left: 5px;
	}
	.logo-font{
		padding-left: 20px;
	}
}
.input-group{
	width: 85%;
}
@media screen and (max-width: 991px) {
	.input-group{
		width: 100%;
	}
}
.form-control-width{
	width: 420px;
	font-size: 18px;
}
.container-size{
	max-width: 900px;
	border: 2px solid #eee;
	position: relative;
	margin-top: 100px;
}
.row{
	display: inline-block;
	padding-left: 15px;
}
.row-height{
	padding-top: 50px;
	width: 100%;
}
.row-left{
	width: 180px;
	height: 180px;
	overflow: hidden;
}
.row-width-p{
	width: 100%;
}
.image-width{
	width: 180px;
	display: inline-block;
}
.row-right{
	width: 65%;
	overflow: hidden;
}
@media screen and (max-width: 968px){
	.row-right{
		width: 55%;
	}
}
.row-right form button{
	position: relative;
	top:35px;
}

.img-rounded{
	width: 180px;
	height: 180px;
	position: relative;
	display: inline-block;
}
.header{
	display: block;
	position: relative;
	padding-left: 30px;
}
@media screen and (max-width: 466px){
	.row-right form button{
		top:0;
		left: 105px;
	}
	.header{
		padding-left: 5px;
	}
}
.content{
	font-size: 20px;
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word;
	padding-top: 20px;
}
.img-user{
	width: 48px;
	height: 48px;
}
.form-group textarea{
	resize: none;
}
.name{
	margin-top: 0;
	margin-bottom: 0;
}
.time{
	margin-bottom: 0;
	margin-top: -25px;
}
.comment{
	padding-top: 25px;
}
.reply{
	cursor: pointer;
}
.cancel-reply{
	cursor: pointer;
}
.form-comment,.cancel-reply{
	display: none;
}
.row-width{
	width: 100%;
}
.row-display{
	display:block;
}
