body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
}

.search_top {
	margin-left: 120px;
}

.input_area {
	height: 44px;
	width: 500px;
	vertical-align: top;
	background: #fff;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding: 6px 15px 0;

	border-color: #fff;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	border-radius: 2px;
	transition:box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.input_area:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.input_area i {
	color: #06a2ec;
	cursor: pointer;
}

.input_area input {
	border: none;
	padding: 0;
	margin: 0;
	width: 94%!important;
	height: 70%;
	outline: none;
	font: 16px arial,sans-serif;
	line-height: 34px;
	height: 34px !important;
	border-bottom: none!important;
}

.input_area input:focus {
	border-bottom: red solid 10px;
}

.button {
	padding-top: 18px;
	text-align: -webkit-center;
}

.main input[type="submit"] {
	background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	cursor: default;
	font-family: arial,sans-serif;
	font-weight: bold;
	line-height: 27px;
	margin: 11px 4px;
	height: 36px;
	min-width: 54px;
	padding: 0 16px;
	text-align: center;
	border-bottom: none;
	outline: none;
}

.main input[type="submit"]:hover {
	border: 1px solid rgba(153,153,153,0.5);
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.07), 0 0 0 1px rgba(0,0,0,0.08);
}

.float_left {
	float: left;
}
.float_right {
	float: right;
}

.banner {
	padding: 30px 20px 0;
	height: 100px;
	background-color: #eee;
}

.logo {
	width: 100px;
	height: 44px;
	background-color: #797979;
	margin-right: 20px;
}

.resultCount {
	line-height: 43px;
	-webkit-transition:all 220ms ease-in-out;
	color: #808080;
	text-overflow:ellipsis;
	withe-space:nowrap;
	padding-left: 135px;
}

.search_list {
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.search_result {
	width: 600px;
	margin-top: 20px;
	margin-left: 135px;
	float: left;
}

.search_result li {
	width: 600px;
	line-height: 30px;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 10px;
	cursor: default;
}


.search_result .item_name {
	font-size: 18px;
	font-weight: normal;
	display: block;
	overflow: hidden;
	text-flow:ellipsis;
	white-space:nowrap;
	margin: 0;
	color: #1a0dab;
}

.search_result .item_name span ,
.search_result .item_name i {
	cursor: pointer;
}

.search_result .item_postTime {
	font-size: 14px;
	font-weight: bold;
	color: #797979;
}

.search_result .item_discription {
	height: 40px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.card-box {
	width: 400px;
	float: right;
	margin-right: 150px;
}

.card-box .card .card-image {
	height: 200px;
	overflow: hidden;
}

.page-footer {
	clear: both;
	background-color: #eee!important;
	color: #777!important;
	padding-left: 135px;
	padding-bottom: 50px;
	margin-top: 50px;
}

