<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title id="webTitle">DOWN 铺</title>
	<link rel="stylesheet" href="css/reset.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/detail.css" />
	<link rel="stylesheet" href="css/materialize.css" />
</head>
<body>
	<div class="banner">
		<div class="logo float_left"></div>
		<div class="input_area search_top">
			<input type="text" />
			<i class="material-icons">search</i>
		</div>
		<div class="button">
		</div>
	</div>

	<div class="search_list">
		<div class="resultCount">约有&nbsp;&nbsp;<i></i>&nbsp;&nbsp;项结果</div>

		<div class="search_result">
			<ul></ul>
		</div>
	</div>

	<div class="item container" >
		<div class="backTolist waves-effect waves-teal btn-flat"><-- 返回搜索列表</div>
		<div class="item_base_info">
			<div class="item_avatar">M</div>
			<div class="item_name">Matlab</div>
			<div class="item_postTime">2017 年 7 月 30 日</div>
			<div class="item_size">7.6 G</div>
		</div>
		<div class="item_links">
			
		</div>	
		
		<div class="item_description">
		</div>

		<div class="item_photos" >
			<img class="materialboxed" src="images/sample-1.jpg">
			<img class="materialboxed" src="images/sample-2.jpg">
			<img class="materialboxed" src="images/sample-3.jpg">
		</div>
	</div>

	<div class="page-footer">Copy Right &copy; 2017 版权归网络管理协会所有</div>

</body>
<script src="jQuery/jquery-3.2.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/search.js"></script>